# =========================================
# IDE and OS Files
# =========================================
.idea/
*.iml
*.iws
.DS_Store
Thumbs.db

# =========================================
# Java & Maven
# =========================================
# Compiled output
target/
*.class
*.jar
*.war

# Log files
*.log

# =========================================
# Node.js & Angular
# =========================================
# Dependencies
node_modules/

# Compiled output
dist/
.angular/

# Other
npm-debug.log*
yarn-debug.log*
yarn-error.log*